=nested_form_for @survey do |f|
  =f.label 'Name'
  =f.text_field :name
  =f.label 'Year'
  =f.select(:year,options_for_select(Time.now.year..2015))
  =f.fields_for :questions do |q|
    %br
    =q.label 'Q'
    =q.text_field :desc,placeholder: 'Questions'
    =f.link_to_remove 'Remove Question'
    =q.fields_for :options do |op|
      =op.label '*'
      =op.text_field :desc,placeholder: 'Options'
      =q.link_to_remove 'Remove option'
    =q.link_to_add 'Add option', :options
  =f.link_to_add "Add question", :questions
  %br
  =f.submit 'save' 
