%h1.some{style: "color: green"} Show Survey
%h2 
  Survey Name : 
  = @survey.name
  %br 
  Year : 
  = @survey.year
- @survey.questions.includes(:options).each do |ques|
  %ul
    %li
      Q
      = ques.desc
      %ul
        - ques.options.each do |op|
          %li
            = op.desc 
            %h4
              - if current_user.answers.where(question_id: ques.id).nil?
                selected
